extends ../layout

block content
  h2 #{disc.brand} #{disc.model}
  if disc.image
    img(src=`/images/${disc.image}` alt=`${disc.brand} ${disc.model}` width='150')
  ul
    li Plástico: #{disc.plastic}
    li Peso: #{disc.weight} g
    li Color: #{disc.color}
    li Números de vuelo: #{disc.flight}
  if stats
    h3 Estadísticas
    p Círculo 1: #{stats.circle1.hits} / #{stats.circle1.attempts}
    p Círculo 2: #{stats.circle2.hits} / #{stats.circle2.attempts}
  a(href='/discs') Volver
